@page "/CrearTorneo"
<h3>Creación de Torneos</h3>

<TorneoBoxSelector 
         Titulo="Eliminación Directa"
         ImagenNombre="elimDirecta"
         Modalidad="ED"/>

<TorneoBoxSelector 
          Titulo="Doble Eliminación"
          ImagenNombre="dobleElim"
          Modalidad="DE"/>

@code {

     
}
